.boxes {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  margin: 20px;
  text-align: center;
  font-size: 30px;
}

.radio, .mode {
  display: inline;
}

.holder {
  margin: 20px;
}
